@extends('layouts.app')

@section('title')
    @lang('title.Accessories')
@stop


@section('content')

<main class="top-nav-padding">
    
    {{-- @include('partials.essential-product-navbar') --}}

    <section class="product-liber-banner">
        <div class="responsive-block">
            <div class="banner-block responsive-item">
                <div class="banner-bg hidden-sm-down" style="background-image: url('/images/banner/website_mouse_banner.jpg')"></div>
                <div class="banner-bg hidden-md-up" style="background-image: url('/images/banner/mobile_mouse_banner.jpg')"></div>
                <div class="banner-info">
                    <div class="an-scroll-wrap">
                        <div class="an-scroll">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 


    <!--begin section-white -->
    <section class="" id="">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class=" h2 mob-text-center banner-header mb-4 mb-sm-5"> Section 1</div>
                </div>
            </div>

            <!--begin row -->
            <div class="row">
                <!--begin col-lg-6 -->
                <div class="col-lg-6 col-12" style="text-align:left; min-height:550px;">

                    <div class="banner-bg"></div>
                    <div class="banner-image">
                        <div class="slideInLeft" ></div>
                    </div>

                </div>
                <!--end col-lg-6-->
           
                <!--begin col-lg-6-->
                <div class="col-lg-6 ">

                    <div class="banner-para ls-0">
                        <span class="d-lg-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>                      
                    </div>

                </div>
                <!--end col-lg-6-->

            </div>
            <!--end row -->
        </div>
        <!--end container -->

    </section>


    <!--begin section-white -->
    <section class="" id="">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class=" h2 mob-text-center banner-header mb-4 mb-sm-5"> Section 2</div>
                </div>
            </div>

            <!--begin row -->
            <div class="row">
                <!--begin col-lg-6 -->
                <div class="col-lg-6 col-12" >

                    <div class="banner-para ls-0">
                        <span class="d-lg-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>                      
                    </div>

                </div>
                <!--end col-lg-6-->
           
                <!--begin col-lg-6-->
                <div class="col-lg-6 " style="text-align:right; min-height:550px;">

                    <div class="slideInRight"> </div>

                </div>
                <!--end col-lg-6-->
            </div>
            <!--end row -->
        </div>
        <!--end container -->

    </section>


    <!--begin section-white -->
    <section class="" id="">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class=" h2 mob-text-center banner-header mb-4 mb-sm-5"> Section 3</div>
                </div>
            </div>

            <!--begin row -->
            <div class="row">
                <!--begin col-lg-6 -->
                <div class="col-lg-6 col-12" style="text-align:left; min-height:550px;">

                    <div class="banner-bg"></div>
                    <div class="banner-image">
                        <div class="slideInLeft" ></div>
                    </div>

                </div>
                <!--end col-lg-6-->
           
                <!--begin col-lg-6-->
                <div class="col-lg-6 ">

                    <div class="banner-para ls-0">
                        <span class="d-lg-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>                      
                    </div>

                </div>
                <!--end col-lg-6-->
            </div>
            <!--end row -->
        </div>
        <!--end container -->

    </section>


    <!--begin section-white -->
    <section class="" id="">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">
                <div class="col-lg-12 text-center">
                        <div class=" h2 mob-text-center banner-header mb-4 mb-sm-5"> Section 4</div>
                </div>
            </div>

            <!--begin row -->
            <div class="row">
                <!--begin col-lg-6 -->
                <div class="col-lg-6 col-12" >

                    <div class="" >It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>

                </div>
                <!--end col-lg-6-->
           
                <!--begin col-lg-6-->
                <div class="col-lg-6 ">

                    <div class="slideInRight"> </div>

                </div>
                <!--end col-lg-6-->
            </div>
            <!--end row -->
        </div>
        <!--end container -->

    </section>

    <section class="product-liber-wifi ls-0">
        <div class="banner-block">
            <div class="banner-bg"></div>
            <div class="banner-image">
                <img class="bc-computer-image bc-computer-1" src="/images/liber/liber_u_feature/sc9_fimg1.png">
                <img class="bc-computer-image bc-computer-2" src="/images/liber/liber_u_feature/sc9_fimg2.png">
            </div>
            <div class="container">
                <div class="banner-info mx-auto ls-0">
                    <div class="h2 banner-header mb-4 mb-sm-5">Stay Connected <div class="hidden-sm-up"></div> Anytime, Anywhere</div>
                    <div class="banner-para ls-0">
                        <span class="d-lg-block">Equipped with BLUETOOTH 4.2 and 802.11ac Wi-Fi, </span>
                        <span class="d-lg-block">LIBER offers the speediest online means, </span>
                        <span class="d-lg-block">which is three times faster than an 802.11n connection.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-statement">
        <div class="container">
            <ul class="product-statement-list py-2 py-sm-5 mx-auto ls-0 pl-4 py-0 mt-0 mt-sm-5">
                
            </ul>
        </div>
    </section>

    <div class="gotop-wrap">
        <button class="btn-gotop"><span class="sr-only">Back to Top</span></button>
    </div>
    

</main>

@endsection

@section('css')

<style> 

    .slideInLeft {
      width: 500px;
      height: 500px;
      /* background-image: url('/images/mouse/3.jpg'); */
      background: red;
      /* background-repeat: no-repeat; */
      position: relative;
      animation-name: mymove;
      animation-duration: 1s;
    }
    
    @keyframes mymove {
      from {left: -1000px;}
      to {left: 20px;}
    }

    .slideInRight {
      width: 500px;
      height: 500px;
      /* background-image: url('/images/mouse/3.jpg'); */
      background: red;
      /* background-repeat: no-repeat; */
      position: relative;
      animation-name: mymove-1;
      animation-duration: 1s;
    }
    
    @keyframes mymove-1 {
      from {right: -1000px;}
      to {right: 20px;}
    }


    </style>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/product-liber.css') }}"/>
@endsection

@section('js')

<script type="text/javascript" src="{{ asset('js/liber.js') }}"></script>

@endsection
