.section{
border:  1px solid rgb(245, 245, 245);
box-shadow: 1px 1px rgba(177, 174, 248, 0.856);
padding: 20px;
margin: 20px;
min-height: 50vh;
}

.box{
width: 50%;
height: 70vh;
background-color: rgb(245, 245, 245);;

}

.box-1{
width: 50%;
height: 70vh;
background-image: url('../domus/img/box-img-1.jpg');
background-repeat: no-repeat;
}

.box-11{
	float: right;
}

span h1{
	font-size: 36px;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span h3{
	font-size: 32px;
	text-align: center;
	margin-top: 10%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span p{
	font-size: 17px;
	text-align: center;
	padding: 5% 15% 15%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.box-2{
	width: 50%;
	height: 70vh;
	background-image: url('../domus/img/box-img-1.jpg');
	background-repeat: no-repeat; 
}


.box-3{
	width: 50%;
	height: 70vh;
	background-image: url('../domus/img/box-img-1.jpg');
	background-repeat: no-repeat;
}

.space{
min-height: auto;
background-color: rgb(245, 245, 245);;
}